/* Flex container for videos */
.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* WhatsApp Button Styling */
.buttonContainer {
  position: absolute;
  bottom: 12rem;
  right: 5%;
  z-index: 3;
}

.whatsappButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--whatsapp-bg);
  border-radius: 50%;
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 10px var(--box-shadow-medium);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsappButton:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px var(--box-shadow-hover);
  background-color: var(--whatsapp-hover-bg);
}

.glassTop,
.glassBottom {
  width: 100vw; /* Full width */
  height: 5%; /* 5% of viewport height */
  position: absolute;
  left: 0;
  z-index: 2;
}

.glassTop {
  top: 0; /* Stick to the top */
  background: var(--glass-gradient-top);
}

.glassBottom {
  bottom: 0;
  background: var(--glass-gradient-bottom);
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Video styling */
.heroVideo {
  flex: 1 1 calc(33.333% - 20px);
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px var(--box-shadow-medium);
}

/* Grid Image Section 2 */
.gridImageContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--main-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.gridBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 10px var(--box-shadow-light);
  transition: transform 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 6px 12px var(--box-shadow-hover);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /* To enable layering */
  opacity: 0; /* Hidden by default */
  z-index: 0; /* Behind the active image */
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
}

.image.active {
  opacity: 1; /* Fully visible */
  z-index: 1; /* Bring active image to the front */
  transform: scale(1.05); /* Slight zoom for the active image */
}

.image.exiting {
  opacity: 0; /* Fade out */
  z-index: 0; /* Push exiting image back */
  transform: scale(0.95); /* Shrink effect for exiting images */
}

.gridBox:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 8px 20px var(--box-shadow-hover); /* Enhanced shadow */
}

.image:hover {
  transform: scale(1.1); /* Further zoom effect on hover */
}

/* Bounce Animation */
.gridBox.changing {
  animation: bounce 0.6s ease-out;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Text Container */
.textContainer {
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.mainTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main-title-color);
}

.subTitle {
  color: var(--sub-title-color);
}

.endTitle {
  color: var(--end-title-color);
}

.paragraph {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--paragraph-text-color);
}

/* Responsive Styling */
@media (max-width: 1175px) {
  .heroVideo {
    flex: 1 1 calc(50% - 20px);
  }
  .heroVideo:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 790px) {
  .heroVideo {
    flex: 1 1 100%; /* Full-width video */
  }
  .heroVideo:nth-child(n + 2) {
    /* Hide all videos except the first */
    display: none;
  }
  .grid {
    width: 100%;
    min-height: 50%;
  }
  .gridImageContainer {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .textContainer {
    width: 100%;
  }
  .mainTitle {
    font-size: 1.5rem;
  }
  .paragraph {
    font-size: 0.8rem;
    line-height: 1.5;
  }
}
