/* Flex container for videos */

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* WhatsApp Button Styling */
.buttonContainer {
  position: absolute;
  bottom: 9rem;
  right: 50%;
  z-index: 3;
}

.whatsappButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #25d3659a;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsappButton:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background-color: #25d365;
}

.glassTop,
.glassBottom {
  width: 100vw; /* Full width */
  height: 5%; /* 5% of viewport height */
  position: absolute;
  left: 0;
  z-index: 2;
}

.glassTop {
  top: 0; /* Stick to the top */
  background: linear-gradient(
    to bottom,
    #ffe9dae6,
    #ffe9da99,
    #ffe9da4d,
    #ffe9da0d
  );
}

.glassBottom {
  bottom: 0;
  background: linear-gradient(
    to top,
    #ffe9dae6,
    #ffe9da99,
    #ffe9da4d,
    #ffe9da00
  );
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Video styling */
.heroVideo {
  flex: 1 1 calc(33.333% - 20px);
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px #00000033;
}

/* Grid Image Section */
.gridImageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #ffe9da;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.gridBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
  transition: transform 0.5s ease, opacity 0.5s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.changing {
  transform: scale(0.9);
  opacity: 0.5;
}

.image:hover {
  transform: scale(1.1);
}

/*







textContainer

*/
.textContainer {
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.mainTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #293423;
}

.subTitle {
  color: #828773;
}

.endTitle {
  color: #115e59;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.5;
  color: #6e7a68;
}

/*









Medium screens: 2 videos per row */
@media (max-width: 1175px) {
  .heroVideo {
    flex: 1 1 calc(50% - 20px);
  }
  .heroVideo:nth-child(n + 3) {
    display: none;
  }
  .buttonContainer {
    position: absolute;
    bottom: 12rem;
    right: 7%;
  }
}

/* Small screens: 1 video, hide others */
@media (max-width: 790px) {
  .heroVideo {
    flex: 1 1 100%; /* Full-width video */
  }
  .heroVideo:nth-child(n + 2) {
    /* Hide all videos except the first */
    display: none;
  }
  .buttonContainer {
    position: absolute;
    bottom: 12rem;
    right: 7%;
  }
  .grid {
    width: 100%;
    height: 50%;
  }
  .gridImageContainer {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .textContainer {
    width: 100%;
  }
  .mainTitle {
    font-size: 1.5rem;
  }
  .paragraph {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #6e7a68;
  }
}
