/* Flex container for videos */

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* WhatsApp Button Styling */
.buttonContainer {
  position: absolute;
  bottom: 12rem;
  right: 2rem;
  z-index: 3;
}

.whatsappButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #25d3659a;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsappButton:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background-color: #25d365;
}

.glassTop,
.glassBottom {
  width: 100vw; /* Full width */
  height: 5%; /* 5% of viewport height */
  position: absolute;
  left: 0;
  z-index: 2;
}

.glassTop {
  top: 0; /* Stick to the top */
  background: linear-gradient(
    to bottom,
    #ffe9dae6,
    #ffe9da99,
    #ffe9da4d,
    #ffe9da0d
  );
}

.glassBottom {
  bottom: 0;
  background: linear-gradient(
    to top,
    #ffe9dae6,
    #ffe9da99,
    #ffe9da4d,
    #ffe9da00
  );
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Video styling */
.heroVideo {
  flex: 1 1 calc(33.333% - 20px);
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px #00000033;
}

/* Medium screens: 2 videos per row */
@media (max-width: 1024px) {
  .heroVideo {
    flex: 1 1 calc(50% - 20px); /* 2 videos in a row */
  }
}

/* Small screens: 1 video, hide others */
@media (max-width: 768px) {
  .heroVideo {
    flex: 1 1 100%; /* Full-width video */
  }
  .heroVideo:nth-child(n + 2) {
    /* Hide all videos except the first */
    display: none;
  }
}
