.main {
  height: 100%;
  background-color: var(--main-color);
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: var(--header-1);
  text-shadow: 2px 2px 6px var(--dark-gray);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.title:hover {
  color: var(--text-hover);
  transform: scale(1.05);
}

/* Adjustments for smaller screens (tablets and below) */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

/* Adjustments for very small screens (mobile) */
@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
}
