.navbar {
  background-color: var(--navbar-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  width: 100%;
  max-width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background-color: var(--teal-950);
  color: var(--color-text-inverse);
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-secondary-dark);
}

@media (max-width: 1024px) {
  .button {
    margin-right: 5rem;
  }
}
